.icons-input {
    width: 40%;
}
body {
    color: white;
    text-align: center;
}
.maxTemprature {
    font-weight: 700;
    margin-right: 5px;
}
.weatherForcast {
    padding: 3% 6%;
    margin: auto;
    width: 65%;
    height: 100%;
    background-color: #0000009e;
    border-radius: 15px;
}
.col {
    border: 1px solid #5c6677;
    width: 30%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    border-radius: 10px;
    margin: 3px;
}
.forcastDay {
    margin-top: 9px;
    font-size: 13px;
}
.forcastTemprature {
    margin-top: 7px;
}
.loader {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 92px;
}
.header {
    margin-bottom: 24px;
}
.descriptions {
    font-size: 11px;
    margin-bottom: 2px;
    width: 77%;
    margin: auto;
    padding: 2px;
    border-radius: 10px;
}
.descriptions:hover {
    font-size: 11px;
    background-color: #76706b;
    margin-bottom: 2px;
    width: 77%;
    margin: auto;
    font-weight: 900;
    color: white;
    padding: 2px;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .col {
        border: 1px solid #5c6677;
        width: 44%;
        margin: auto;
        margin-top: 3px;
        padding: 0% 15%;
    }
}
